.hr{
    width: 100px;
    border-top: 5px solid #19243a;
    margin: auto;
    color: #3c5a96;
}
.carousel .carousel-item {
    height: 500px;
  }
  
  .carousel-item img {
      position: relative;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 500px;
  }

#vit {
    justify-content: end;
}
@media only screen and (max-width: 900px) {
    .try {
      display: none;
    }
  }



