body {
    background-image: url('https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDl8fHxlbnwwfHx8&auto=format&fit=crop&w=500&q=60');
    background-color: #f7f7ed;
    font-family: 'Merriweather', serif;
    min-height: 100%;
    height: 100%;
    position: relative;
}
footer {
    bottom: 0;
}
.nav-link {
    font-size: 14px;
    font-weight: 800;
}
.headings {
    font-weight: 600;
}
.hr{
    width: 100px;
    border-top: 3px solid red;
    margin: auto;
    color: #3c5a96;
}
.para {
    font-weight: 800;
}

.sticky-top.scrolled {
    background-color: #D0D0D0;
    transition: background-color 200ms linear;
  }
#mainNavbar .nav-link{
    color: #3c5a96;

}
#mainNavbar .nav-link:hover{
    color: red;
}
.blink{
    animation:blinkingText 1.2s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: yellow; }
    60%{    color: blue; }
    99%{    color: brown;  }
    100%{   color: transparent;    }
}

h1{
  
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
	display: flex;
	font-weight: 30;
	text-align: center;
	font-size: 30px;
    margin-bottom:75px ;
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 23px;
    text-align: center;
    justify-content: center;
   
}

#clockdiv > div{
	padding: 10px;
	border-radius: 10px solid;

	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: white;
	display: block;
    color: #3c5a96;
  
}

.smalltext{
	padding-top: 5px;
	font-size: 16px
    
  
}

@media (max-width: 800px) {
  #clockdiv{
    flex-basis: 100%;
  


    
  }





}

.top-buffer { margin-top:50px; }